# Acceso a TNG
TNG_API_KEY=
TNG_SIMULATION=TNG50-1

# Ruta al catálogo MaNGIA local
MANGIA_CATALOG_PATH=/home/andy/pythonprojects/cubes/MaNGIA_catalog.fits

# Plantilla SSP reutilizada desde el pipeline local de MaNGIA
SSP_TEMPLATE_PATH=/home/andy/pythonprojects/cubes/official_mangia/libs/MaStar_CB19.slog_1_5.fits.gz

# Opcional: si ya tienes descargado el catálogo morfológico (t)
TNG_MORPHOLOGY_CATALOG_PATH=

# Opcional: si tienes la URL directa autenticada para el catálogo morfológico
TNG_MORPHOLOGY_CATALOG_URL=
