PYTHON_BIN=python3
VENV_DIR=.venv

DATA_DIR=./data
VIEWER_DATA_DIR=./data

MANGA_RELEASE=dr17
MANGA_DRP_VER=v3_1_1
MANGA_PLATEIFU=7443-12703
MANGA_PRODUCT=LOGCUBE

VIEWER_HOST=0.0.0.0
VIEWER_PORT=8010
