DEFAULT_REFERENCE_LOGCUBE=/home/andy/pythonprojects/cubes/manga_compare_project/data/manga-7443-12703-LOGCUBE.fits.gz
DEFAULT_CATALOG=/home/andy/pythonprojects/cubes/MaNGIA_catalog.fits
DEFAULT_TEMPLATE_SSP=/home/andy/pythonprojects/cubes/official_mangia/libs/MaStar_CB19.slog_1_5.fits.gz
DEFAULT_OUTPUT_DIR=/home/andy/pythonprojects/cubes/mangia_logcube_74x74/output
